.well-being-platform {
  width: 100vw;
  height: calc(100vh);

  display: grid;
  grid-template-columns: 400px auto 400px;

  background: #FBFBFB;
}

.inner-data {
  padding: 60px 40px;

  height: calc(100% - 120px);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}