.timetable-bar {
  .timetable-bar__container {
    padding-top: 60px;
    padding-right: 60px;
  }

  .timetable-bar__lectures {
    margin-top: 40px;

    .timetable-page__tittle {
      font-size: 16px;
    }

    .timetable-page__lectures {
      height: 400px;

      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .lecture {
      .lecture__info-wrapper {
        .date-member__date {
          font-size: 14px;
        }
        .lecture__time {
          font-size: 14px;
        }
        .lecture__theme {
          font-size: 16px;
        }
      }
    }
  }
}
.lecture-listeners {
  margin-top: 70px;

  display: flex;
  align-items: flex-start;
  gap: 20px;

  color: var(--01, #070707);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.lecture-listeners__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}