.user-info {
  display: flex;
  align-items: center;
  gap: 20px;

  .user-info__avatar {
    width: 48px;
    height: 48px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-info__data {
    display: flex;
    gap: 7px;

    color: var(--01, #070707);
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;

    flex-direction: column;
    align-items: flex-start;
  }
  .user-info__wrapper {
    display: flex;
    gap: 7px;
  }

  .user-info__role {
    color: var(--03, #6A6A6A);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
}