.button {
  width: fit-content;

  padding: 16px 20px;

  border-radius: 8px;
  background: var(--01, #ECB300);


  color: var(--01, #070707);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}